<div class="outer">
    <div class="container">
        <div class="logo"><span class="yellow">Matrix</span>Fitness</div>
        <div class="inner">
            <form [formGroup]="enrollForm"  (ngSubmit)="enroll()">
                <input class="formcontrol" type="text" id="name" formControlName="name" placeholder="Enter your name"
                    autocomplete="off" />
                <div *ngIf="
              !enrollForm.get('name')?.valid &&
              (enrollForm.get('name')?.dirty || enrollForm.get('name')?.touched)
            " class="failed">
                    <div *ngIf="enrollForm.controls['name'].errors?.['required']">
                        Name is required.
                    </div>
                    <div *ngIf="enrollForm.get('email')?.errors?.['email']">
                        Invalid Name format.
                    </div>
                </div>
                <input class="formcontrol" type="text" id="email" formControlName="email" placeholder="Enter your email"
                    autocomplete="off" />
                <div *ngIf="
              !enrollForm.get('email')?.valid &&
              (enrollForm.get('email')?.dirty || enrollForm.get('email')?.touched)
            " class="failed">
                    <div *ngIf="enrollForm.controls['email'].errors?.['required']">
                        Email is required.
                    </div>
                    <div *ngIf="enrollForm.get('email')?.errors?.['email']">
                        Invalid email format.
                    </div>
                </div>
                <input class="formcontrol" type="number" id="phoneNumber" formControlName="phoneNumber"
                    placeholder="Enter your Phone Number" autocomplete="off" />
                <div *ngIf="
              !enrollForm.get('phoneNumber')?.valid &&
              (enrollForm.get('phoneNumber')?.dirty || enrollForm.get('phoneNumber')?.touched)
            " class="failed">
                    <div *ngIf="enrollForm.controls['email'].errors?.['required']">
                        Phone Number is required.
                    </div>
                    <div *ngIf="enrollForm.get('email')?.errors?.['email']">
                        Invalid Phone number format.
                    </div>
                </div>
                <select class="formcontrol" formControlName="course">
                    <option *ngFor="let course of courses">{{course}}</option>
                </select>
                <button class="button" type="submit">
                    Continue to payment
                </button>
            </form>
        </div>
    </div>
</div>